.site-main-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-main-search__img {
    position: absolute;
    z-index: 2;
    margin-left: 34px;
}
.site-main-search__search {
    position: relative;
    z-index: 1;
    padding-left: 74px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 480px;
    background-color: #2B3844;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    &::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
    }
    &--white{
        background-color: #fff;
        color: #000;
        &::placeholder{
            color: #000;
        }
    }
}
.site-main-search__select {
    padding: 18px 77px 18px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color:#2B3844;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &--white{
        background-color: #fff;
        color: #000;
    }
}

@include breakpoint-down(700px){
    .site-main-search{
        flex-direction: column;
        margin: 0 auto;
    }
    .site-main-search__search{
        width: 343px;
        margin-bottom: 40px;
    }
    .site-main-search__img{
        margin-left: 0;
        left: calc(50% - 134px);
        bottom: 177px;
    }
}